*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-blue: rgb(98,81,221);
    --main-orange: rgb(239,107,74);
    --navBar-color: #393280;
}

.blue-text{
    color: var(--main-blue);
}

.blue-bg{
    background-color: var(--main-blue);
}

.orange-text{
    color: var(--main-orange);
}

.orange-bg{
    background-color: var(--main-orange) !important;
}

.navBar-bg{
    background-color: var(--navBar-color);
}

.navBar-color{
    color: var(--navBar-color)
}