* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: rgb(98, 81, 221);
    --main-orange: rgb(239, 107, 74);
    --navBar-color: #393280;
}

.blue-text {
    color: var(--main-blue);
}

.blue-bg {
    background-color: var(--main-blue);
}

.orange-text {
    color: var(--main-orange);
}

.orange-bg {
    background-color: var(--main-orange) !important;
}

.navBar-bg {
    background-color: var(--navBar-color) !important;
}

.navBar-color {
    color: var(--navBar-color) !important
}

.arrow {
    width: 50px !important;
}

.swiper1 {
    background: linear-gradient(to right, #FFE5E5 30%, #F5FFFE, #FFFFFF);
}

.swiper-pagination-bullet-active {
    background-color: var(--main-orange) !important;
}

.swiper1 .swiper-pagination {
    width: fit-content !important;
    left: 11% !important;
    bottom: 10% !important;
    width: 100px !important;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;

}

.categs-sec-title::before {
    position: absolute;
    content: "";
    width: 10%;
    height: 2px;
    background-color: var(--main-orange);
    top: 13px;
    left: -45px;
}

.categs-swiper-arrow:hover {
    cursor: pointer;
    color: white !important;
    background-color: var(--main-orange) !important;
    border-color: var(--main-orange) !important;
}

.swiper2 {
    width: 90% !important;
}

.loading {
    background-image: url(./assets/loading.gif);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center center;
    position: absolute;
    inset: 0;
    z-index: 99999;
}

.sec-title::before {
    position: absolute;
    content: "";
    width: 33vw;
    height: 1px;
    background-color: #E0E0E0;
    top: 30px;
    left: 10px;
}

.sec-title::after {
    position: absolute;
    content: "";
    width: 33vw;
    height: 1px;
    background-color: #E0E0E0;
    top: 30px;
    right: 10px;
}

.custom-swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.swiper-pagination-bullet-active {
    margin: 0 10px !important;
    position: relative;

}

.swiper-pagination-bullet-active:after {
    position: absolute;
    content: "";
    top: -75%;
    left: -75%;
    width: 250%;
    height: 250%;
    border-radius: 50%;
    border: 1px solid var(--main-orange);
}

.book-author::before {
    position: absolute;
    content: "";
    width: 65%;
    height: 2px;
    background: var(--main-orange);
}

.swiper4-container {
    background: linear-gradient(to right, #FBEEEE 20%, #F7FFFE 80%);
}



.book-img-container:hover .add-to-cart-overlay{
    opacity: 1;
    visibility: visible;
} 

.add-to-cart-overlay:hover{
    background-color: #d12d10;
}

.add-to-cart-overlay:active{
    background-color: #d12d1098;
}

.bookImg{
    width: 40%;
    /* border-radius: 5px; */
    border: 12px solid white;
}

.cart-container{
    background: linear-gradient(to right, #FFE5E5 20% , #F5FFFE);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(229, 229, 229);
}

.ver-cart-container{
    background: linear-gradient(to bottom, #FFE5E5 , #F5FFFE);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(229, 229, 229);
}

.cursor-pointer{
    cursor: pointer;
}